<section class="item">
  <div class="item__container">
    <div class="item__content">
      <div class="item__content-item">
        <label class="item__label">First Name</label>
        <div>{{ booking?.customer?.firstName }}</div>
      </div>
      <div class="item__content-item">
        <label class="item__label">Last Name</label>
        <div>{{ booking?.customer?.lastName }}</div>
      </div>
    
    
      <div class="item__content-item">
        <label class="item__label">Start Time</label>
        <div>{{ booking?.startDate | date: 'short' }}</div>
      </div>
      <div class="item__content-item">
        <label class="item__label">End Time</label>
        <div>{{ booking?.endDate | date: 'short' }}</div>
      </div>
      <div class="item__content-item">
        <label class="item__label">Customer Email</label>
        <div>{{ booking?.customer?.email }}</div>
      </div>
    </div>
  </div>
</section>
